protected/vendor/*
protected/runtime/*
protected/config/wcaDb
protected/config/env.php
protected/commands/shell/last
protected/commands/Test*Command.php
protected/bin
public/.htaccess
build
assets-map.json
node_modules
.tag*
