protected/vendor/*
protected/runtime/*
protected/composer.lock
protected/config/wcaDb
protected/commands/shell/last
protected/commands/Test*Command.php
protected/bin
public/.htaccess
.tag*

# Except this file
!.gitignore