@page {
	margin: 6mm;
}
table {
	font-size: 0.8rem;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	border-bottom: 1px solid;
	margin-bottom: 20px;
}
th, td {
	border-top: 1px solid;
	border-left: 1px solid;
	text-align: center;
	white-space: nowrap;
}
td.bdr {
	border-right: 1px solid;
}
td.bdld {
	border-left: 1px dotted;
}
td.no-bd {
	font-size: 1.1rem;
	font-weight: bold;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
td.tal {
	text-align: left;
}
td.bd2 {
	border-left: 3px solid;
	border-right: 3px solid;
}
td.bd2-1 {
	border-top: 3px solid;
}
td.bd2-5 {
	border-bottom: 3px solid;
}
td.penalty {
	width: 8%;
}
td.time {
	width: 13.5%;
}
td.signature {
	width: 12%;
}
td.trial-no {
	font-size: 1.2rem;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 4%;
}
td.remark {
	padding-top: 6px;
	padding-bottom: 6px;
}